* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "robot", sans-serif;
}



header {
  background-color: #e4dfda;
  width: 100%;
  height: 90px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}
.logo {
  width: 150px;
}

.navigation a {
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 900;
  padding-left: 50px;
}

.navigation a:hover {
  color: rgb(46, 102, 255);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::selection {
  background: #080708;
  color: #fff;
}

body {
  display: grid;
  height: 100%;
  place-items: center;
  background: #0d1321;
  min-height: 100vh;
}
.container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 82px;
}
.container .box {
  width: calc(33% - 10px);
  background: #e4dfda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.box .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}
.container .box .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #2d294e;
  padding: 3px;
  border-radius: 50%;
}
.box .image img {
  height: 100%;
  width: 100%;
  border-radius: 80%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job {
  margin: 10px 0 3px 0;
  color: #240c8d;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1045px) {
  .container .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 710px) {
  .container .box {
    width: 100%;
  }
}

footer {
  background-color: #e4dfda;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.address {
  right: 300px;
  position: relative;
}
.address p {
  font-family: "robot", sans-serif;
  font-size: 1em;
  line-height: 20px;
  color: rgb(26, 21, 63);
}

.hamk {
  font-size: 30px;
  color: #240c8d;
}

.social-media {
  left: 300px;
  position: relative;
  padding: 0px;
}



.fa-facebook {
  position: relative;
  margin: 0 14px;
  font-size: 30px;
  color: rgb(51, 98, 185);
}

.fa-facebook :hover{
  color: rgb(255, 24, 24);
}

.fa-linkedin {
  position: relative;
  margin: 0 14px;
  font-size: 30px;
  color: rgb(0,119,181);
}

.fa-instagram {
  position: relative;
  margin: 0 14px;
  font-size: 30px;
  color: rgb(221, 42, 123);
}

.fa-twitter {
  position: relative;
  margin: 0 14px;
  font-size: 30px;
  color: rgb(8,160,233);
}

.fa-youtube {
  position: relative;
  margin: 0 14px;
  font-size: 30px;
  color: rgb(230,33,23);
}
